.imgFluid {
  max-width: 100%;
  height: auto;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  border-top: 25px solid var(--blue);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Footer */
.footer .rodape {
  padding: 1rem 1rem;
  background: var(--background);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .rodape p {
  font-size: .9rem;
  color: var(--white);
}

.footer p {
  text-align: center;
  color: var(--text);
  line-height: 1.4;
}


@media (max-width: 600px) {
  .footer h2 {
    font-size: 1.6rem;
  }

  .footer .formEbook {
    width: 100%;
  }

  .footer p {
    font-size: .95rem;
  }
}
